
bin
obj
resharper
*.user
*.suo
*.user
_ReSharper
*.cache
*.vs10x
/App_Data/Database.mdf
/App_Data/Database_log.ldf
/_ReSharper.PiF/PersistentCaches/LOG
/PlayItForward/Images/Thumbs.db
/PlayItForward/Images/capsules/Thumbs.db
