<h2>@ViewBag.Title</h2>
<p>Play it Forward (PiF) is a simple idea. Receive a game, play it and give it to someone else.</p>

<p>Posters offer up a game for free and selects a winner by holding a contest or random drawing. The receiver plays the game, then buys another copy of the game to PiF to someone else! If the receiver does not enjoy the game, they should PiF a different game. You are expected to give back if you receive games.</p>
<p>PiF uses a point system to track how many games a user has given and received. Please read the complete @Html.ActionLink("Rules & Guidelines", "Rules", "Home").</p>
<h3>What are PiF points?</h3>
<p>It's a system of tracking how many games a user gives away and how many are received. A user gets 1 PiF point for each game given, the user who receives a game also gets a point added.</p>
<h3>How does it work?</h3>
<p>A user creates a PiF by entering the games being given. They may hold a contest, use a random generator, or use other means to pick a winner. The PiF should be open for at least 24 hours.</p>
<p>Once you are ready to pick the winners, edit the PiF and input the winner's usernames. A verification link will be sent to each winner to verify they received the game. Once all winners verify they received the listed game, points will be awarded.</p>
<p>The user plays the game, and if they enjoy it, should PiF the game to someone else. If they don't, they should PiF a different game instead. <strong>You are expected to give back if you receive games.</strong></p>

