@{
    this.ViewBag.Title = "Home Page";

}

<h2>@this.ViewBag.Message</h2>
<p>
    This app is used to report any PiFs completed. Statistics for PiFs will go near
    the bottom of this page.
</p>
<p>
    To find out how to use this app go to <a href="http://www.reddit.com/r/playitforward"
                                             title="r/playitforward">r/playitforward</a>.</p>