<h2>@ViewBag.Title</h2>
<h1>Important Details</h1>
<ol>
    <li>Users who PiF a game will receive a point for each eligible game given. Bundles are counted on a <strong>per game</strong> basis only if the games in the bundle are sold individually on steam. The amount of points an item is worth is displayed.</li>
    <li>Users who receiving a game will also receive a point for each eligible game received.</li>
    <li>If you are caught trying to exploit the system, a permanent ban will be issued.</li>
    <li>No requests are allowed.</li>
    <li>Be wary of gifting to relatively new accounts, please research users before picking a winner. Please check for serial requesters as well. This is ultimately the gifter's responsibility.</li>
    <li>PiFers will not receive points if they do a First Come, First Serve thread. Please allow 24 hours or more before closing entries.</li>
    <li>Non-indie games are allowed, but indie games are encouraged.</li>
    <li>Asking for donations or requiring users to visit a website is forbidden. This includes requiring comments, likes, or follows. When in doubt, please message support.</li>
    <li>Watch out for accounts that only enter giveaways and want free stuff, report those to support.</li>
    <li>If you give a game to someone that is ineligible, you won't get a point for that person. A warning is displayed when you pick someone that is ineligible.</li>
</ol>
<h1>PiF Points Explained</h1>
<h3>What counts:</h3>
<ul>
    <li>The point worth is displayed next to the game, so not guess work is needed. Each eligible game = 1 point. For packs, each full game that can be purchased individually equals 1 point.</li>
    <li>MMO Full games, the MMO base game cannot be free for it to count.</li>
    <li>Expansions count as a game when it doesn't require a base game.</li>
</ul>
<h3>What does not count:</h3>
<ul>
    <li>The site knows what each game is worth, it will display the point value when selected. So games that are considered ineligible are worth 0 points and displayed as such. This is just for your reference.</li>
    <li>Indie Bundles, this includes but not limited to: Indie Royale, Humble Bundle, Indie Gala, Indie FaceKick, BeMine.</li>
    <li>Trial games, demos, betas, coupons, in game content (TF2 weapons/hats, etc)</li>
    <li>Free games</li>
    <li>DLC</li>
    <li>Expansion packs that require a base game to play.</li>
    <li>MMO trial memberships.</li>
    <li>iTunes Promo codes.</li>
    <li>PiFing to a specific small group of people or to a specific person in mind does not count for points.</li>
    <li>Anything given outside the site.</li>
    <li>First Come, First Serve PiFs</li>
</ul>
<h1>Rules</h1>
<ol>
    <li>Alt accounts are <strong>not allowed</strong>. If you are caught using an alt account to circumvent the rules or ratio, all of your accounts will be banned and your steam profiles and reddit accounts will be publicly listed in the <a href="https://docs.google.com/spreadsheet/ccc?key=0AiFZyanaAvZDdHdyS0dQMnRSY01HVWYzSldTaGowbXc&hl=en_US#gid=0">Shared Ban List</a>.</li>
    <li>Once you receive 5 more games than you PiFed, you will be placed on probation. You won't be able to enter anymore giveaway until your ratio is .8 or higher. Your existing entries will be removed.<strong> If you atempt to enter another giveaway after the warning, a ban will be issued.</strong></li>
    <li>If you receive a game on PiF, it is absolutely forbidden to trade or sell it. If you are caught, permanent ban will be issued.</li>
    <li>If you win a PiF and change your mind, then give it back to the gifter so he/she can pick another winner. You are not allowed to redeem a PiF on someone else's account or PiF it to someone else without permission from the original PiFer.</li>
    <li>You are not allowed to enter a PiF for someone else. If you enter a PiF, the game is to be given to you. If your friend wants the game, they need to enter for it themselves. If you are caught doing this, it's considered point manipulation and permanent bans will be issued.</li>
    <li>PiFers must give to users older than 2 months with at least 300 karma to receive points. This is to prevent alt accounts, ratio manipulation, inactive accounts and accounts created for entering giveaways. This also goes for accounts with large amounts of inactivity.</li>
    <li>Rigging PiFs and making Fake PiFs is against the rules and subject for an immediate ban. You are not allowed to make a PiF that appears to be random and then pick your friend as the winner. That is considered ratio/point manipulation.</li>
</ol>
<h1>PiF Points</h1>
<ul>
    <li>Green number represents eligible games the person has given to eligible people.</li>
    <li>The blue number represents the number of games the user has received.</li>
    <li>Some users will have orange flair, it denotes people who have new/inactive reddit or steam accounts or people who just post to giveaway subreddits or other similar reasons. Those with orange flair are ineligible for points.</li>
</ul>
<h1>Game Point Exceptions</h1>
<p>This is not a complete list. The site displays the point worth for each game and bundle. This is just for your reference.</p>
<h3>0 Point games:</h3>
<ul>
    <li>Half-Life Deathmatch: Source</li>
    <li>Half-Life: Deathmatch</li>
    <li>Half-Life 2: Deathmatch</li>
    <li>Half-Life 2: Lost Coast</li>
    <li>Grand Theft Auto</li>
    <li>Grand Theft Auto 2</li>
    <li>The Ship</li>
    <li>Promo codes</li>
    <li>Anything that is just a multiplayer component of a Campaign game.</li>
    <li>Anything that is free.</li>
    <li>Any keys of games that have been featured in an indie bundle, see below.</li>
    <li>Anything that is $1 or less on Steam.</li>
</ul>
<h3>1 point packs:</h3>
<ul>
    <li>Breath of Fire VII & Cthulhu Saves the World</li>
    <li>Time Gentlemen, Please! & Ben There, Dan That!</li>
    <li>Games that are bundled and not sold separately.</li>
</ul>
<h2>Indie Bundles</h2>
<p>The games listed below have been featured in an indie bundle. <strong>Only steam gift-able copies</strong> of the following games are worth points. </p>
<table>
    <tr>
        <td><strong><a href="http://humblebundle.com">Humble Bundle</a></strong></td>
        <td><strong>Games</strong></td>
        <td><strong>Effective Date</strong></td>
    </tr>
    <tr>
        <td><strong>Indie Bundle 1</strong></td>
        <td>Aquaria · Gish · Lugaru HD · Penumbra: Overture · Samorost 2 · World of Goo</td>
        <td>May 4, 2010</td>
    </tr>
    <tr>
        <td><strong>Indie Bundle 2</strong></td>
        <td>Braid · Cortex Command · Machinarium · Osmos · Revenge of the Titans</td>
        <td>December 14, 2010</td>
    </tr>
    <tr>
        <td><strong>Frozenbyte Bundle</strong></td>
        <td>Shadowgrounds · Shadowgrounds Survivor · Trine</td>
        <td>April 12, 2011</td>
    </tr>
    <tr>
        <td><strong>Indie Bundle 3</strong></td>
        <td>And Yet It Moves · Atom Zombie Smasher · Cogs · Crayon Physics Deluxe · Hammerfight · Steel Storm: Burning Retribution · VVVVV</td>
        <td>July 26, 2011</td>
    </tr>
    <tr>
        <td><strong>Frozen Synapse Bundle</strong></td>
        <td>Frozen Synapse · TRAUMA · SpaceChem</td>
        <td>September 28, 2011</td>
    </tr>
    <tr>
        <td><strong>Voxatron Debut</strong></td>
        <td>The Binding of Isaac · Blocks That Matter · Gish</td>
        <td>October 31, 2011</td>
    </tr>
    <tr>
        <td><strong>Introversion Bundle</strong></td>
        <td>Aquaria · Crayon Physics Deluxe · Darwinia · DEFCON · Dungeons of Dredmor · Multiwinia · Uplink</td>
        <td>November 22, 2011</td>
    </tr>
    <tr>
        <td><strong>Indie Bundle 4</strong></td>
        <td>Bit.Trip Runner · Cave Story+ · Gratuitous Space Battles · Jamestown · NightSky HD · Shank · Super Meat Boy</td>
        <td>December 13, 2011</td>
    </tr>
    <tr>
        <td><strong>Android Bundle</strong></td>
        <td>Anomaly: Warzone Earth · Edge · Osmos · Toki Tori · World of Goo</td>
        <td>January 31, 2012</td>
    </tr>
    <tr>
        <td><strong>Android Bundle 2</strong></td>
        <td>Avadon: The Black Fortress · Cogs · Snuggle Truck · Swords & Soldiers · Zen Bound 2</td>
        <td>March 19, 2012</td>
    </tr>
    <tr>
        <td><strong>Botanicula Debut</strong></td>
        <td>Botanicula · Machinarium · Samorost 2 · Windosill</td>
        <td>April 19, 2012</td>
    </tr>
    <tr>
        <td><strong>Indie Bundle V</strong></td>
        <td>Amnesia: The Dark Descent · Psychonauts · LIMBO · Superbrothers: Sword & Sworcery EP · Bastion · Super Meat Boy · Lone Survivor · Braid</td>
        <td>June 1, 2012</td>
    </tr>
</table>
<p>
    <br />
</p>
<table>
    <tr>
        <td><strong><a href="http://indieroyale.com">Indie Royale</a></strong></td>
        <td><strong>Games</strong></td>
        <td><strong>Effective Date</strong></td>
    </tr>
    <tr>
        <td><strong>Launch Bundle</strong></td>
        <td>A.R.E.S Extinction Agenda · Gemini Rue · Numbus · Sanctum</td>
        <td>November 2011</td>
    </tr>
    <tr>
        <td><strong>Difficult 2nd Bundle</strong></td>
        <td>Fate of the World · Nightsky · Scoregasm · Time Gentlemen Please + Been There Dan That</td>
        <td>November 2011</td>
    </tr>
    <tr>
        <td><strong>Really Big Bundle</strong></td>
        <td>Cthulhu Saves the World + Breath of Death VII · Eufloria · Really Big Sky · Runespell Overture</td>
        <td>December 2011</td>
    </tr>
    <tr>
        <td><strong>Xmas Bundle</strong></td>
        <td>Blackwell Trilogy · Dino D-Day · Eets · The Oil Blue</td>
        <td>December 2011</td>
    </tr>
    <tr>
        <td><strong>New Years Bundle</strong></td>
        <td>Fractal · Nuclear Dawn · Max & The Magic Marker · Super Crossfire</td>
        <td>January 2012</td>
    </tr>
    <tr>
        <td><strong>Serious Sam Pack</strong></td>
        <td>Serious Sam: First Encounter + Second Encounter · Serious Sam: Double D · Serious Sam: Kamikaze Attack · Serious Sam: Random Encounter</td>
        <td>February 2012</td>
    </tr>
    <tr>
        <td><strong>Valentine's Bundle</strong></td>
        <td>Hoard · Lume · Soulcaster 1 · Soulcaster 2 · Zeno Clash</td>
        <td>February 2012</td>
    </tr>
    <tr>
        <td><strong>Alpha Collection 1</strong></td>
        <td>3079 · Towns · WYV and Keep: The Temple of the Lost Idol</td>
        <td>March 2012</td>
    </tr>
    <tr>
        <td><strong>St. Patrick's Day Bundle</strong></td>
        <td>Hard Reset · Jolly Rover · Vertex Dispenser · DLC Quest + Lair of the Evildoer</td>
        <td>March 2012</td>
    </tr>
    <tr>
        <td><strong>Ninja Pack</strong></td>
        <td>Ancients of Ooga · Cloning Clyde · A Kingdom for Keflings · Outpost Kaloki</td>
        <td>March 2012</td>
    </tr>
    <tr>
        <td><strong>April Fools Bundle</strong></td>
        <td>Alien Zombie Megadeath + Astro Tripper · Defense Grid · Explodemon · Hack, Slash, Loot</td>
        <td>April 1, 2012</td>
    </tr>
    <tr>
        <td><strong>Spring Bundle</strong></td>
        <td>Ballistic · Depths of Peril · Inferno+ · Slydris Tobe's Vertical Adventure · Unstoppable Gorg</td>
        <td>April 18, 2012</td>
    </tr>
    <tr>
        <td><strong>May Hurray Bundle</strong></td>
        <td>Dungeon Defenders · Containment: The Zombie Puzzler · Data Jammers: FastForward · Brainpipe: A Plunge to Unhumanity · Weird Worlds: Return to Infinite Space</td>
        <td>May 3, 2012</td>
    </tr>
    <tr>
        <td><strong>All-Charity Pack</strong></td>
        <td>Osmos · B.U.T.T.O.N. · The Shivah · The Blueberry Garden </td>
        <td>May 17, 2012</td>
    </tr>
    <tr>
        <td><strong>Graduation Bundle</strong></td>
        <td>The Void · Dead Pixels · The Ship · 1000 Amps · LaserCat · AirMech (beta)</td>
        <td>May 30, 2012</td>
    </tr>
</table>
<p>
    <br />
</p>
<table>
    <tr>
        <td><strong><a href="http://indiegala.com">Indie Gala</a></strong></td>
        <td><strong>Games</strong></td>
        <td><strong>Effective Date</strong></td>
    </tr>
    <tr>
        <td><strong>Indie Gala 1</strong></td>
        <td>Hacker Evolution: Duality Hacker · Evolution: Untold · inMomentum · Saira · Your Doodles Are Bugged · Zombie Shooter · Zombie Shooter 2</td>
        <td>December 2011</td>
    </tr>
    <tr>
        <td><strong>Indie Gala 2</strong></td>
        <td>Bunch of Heroes · Critical Mass · Fortix 2 · Hacker Evolution · Greed Corp · Roboblitz</td>
        <td>February 2012</td>
    </tr>
    <tr>
        <td><strong>Indie Gala 3</strong></td>
        <td>Flatout · Future Wars · Greed: Black Border · Grotesque Tactics · Trapped Dead · Twin Sector</td>
        <td>March 24, 2012</td>
    </tr>
    <tr>
        <td><strong>Indie Gala 4</strong></td>
        <td>Alien Shooter · Alien Shooter 2 · Altitude · A.R:E.S. · Disciples II · Really Big Sky · Steel Storm: Burning Retribution</td>
        <td>April 24, 2012</td>
    </tr>
    <tr>
        <td><strong>Indie Gala 5</strong></td>
        <td>Making History: The Calm & the Storm · Beat Hazard · Razor2: Hidden Skies · Ironclads Collection (Ironclads: American Civil War, Ironclads: High Seas, Ironclads: Schleswig War 1864, Ironclads: Anglo Russian War 1866, Ironclads: Chincha Islands War 1866) · Space Empires IV Deluxe  · Battle Mages · WRC 2010 · Bad Rats: the Rats' Revenge · Ninja Blade · SBK X · Puzzle Kingdoms · Disciples II: Rise of the Elves</td>
        <td>May 27, 2012</td>
    </tr>
</table>
<p>
    <br />
</p>
<table>
    <tr>
        <td><strong><a href="http://groupees.com/bemine">Be Mine Bundle</a></strong></td>
        <td><strong>Games</strong></td>
        <td><strong>Effective Date</strong></td>
    </tr>
    <tr>
        <td><strong>Be Mine 1</strong></td>
        <td>The Ball · BEEP · Sideways: New York · Wasteland Angel · Xotic</td>
        <td>February 14, 2012</td>
    </tr>
    <tr>
        <td><strong>Be Mine 2</strong></td>
        <td>The Baconing · Beat Hazard · Madballs in Babo: Invasion · Plain Sight · Sol Survivor</td>
        <td>April 09, 2012</td>
    </tr>
    <tr>
        <td><strong>Build A Bundle</strong></td>
        <td>Nikopol: Secrets of the Immortals · Sideway New York · Caster · The Ball · Necrovision · LightFish · PAM: Post Apocalyptic Mayhem · Xotic · BEEP · Ubersoldier 2 · Dark Fall: Lost Souls · Diamond Dan</td>
        <td>May 22, 2012</td>
    </tr>
</table>
<br />
<table>
    <tr>
        <td><strong><a href="http://indie.gamingallthetime.com/">Indie Face Kick</a></strong></td>
        <td><strong>Games</strong></td>
        <td><strong>Effective Date</strong></td>
    </tr>
    <tr>
        <td><strong>Wham Bam Pow Bundle</strong></td>
        <td>Avencast · Booster Trooper · Bridge It · Dead Horde · Greed: Black Border · PAM: Post Apocalyptic Mayhem · Runespell · Sol Survivor · Still Life 2</td>
        <td>March 25, 2012</td>
    </tr>
    <tr>
        <td><strong>Be In The Game Bundle</strong></td>
        <td>Tompi Jones · Arkhelom 3D · Alien Hallway · Depth Hunter · Alien Shooter 2: Conscription</td>
        <td>May 26, 2012</td>
    </tr>
</table>
<br />
<table>
    <tr>
        <td><strong><a href="http://bundle-in-a-box.com/">Bundle In a Box</a></strong></td>
        <td><strong>Games</strong></td>
        <td><strong>Effective Date</strong></td>
    </tr>
    <tr>
        <td><strong>Adventure Bundle</strong></td>
        <td>Gemini Rue · Ben There, Dan That! · Time Gentlemen, Please! · 1893: A World's Fair Mystery · The Sea Will Claim Everything · The Shivah · Metal Dead</td>
        <td>May 23, 2012</td>
    </tr>
</table>
<p>
    <br />
</p>
<h2>Other Giveaways</h2>
<p>The games listed below have been given away for free to the public, only Steam gift-able copies of these games count for points. </p>
<table>
    <tr>
        <td><strong>Game</strong></td>
        <td><strong>URL</strong></td>
        <td><strong>Effective Date</strong></td>
    </tr>
    <tr>
        <td><strong>Fallout 1</strong></td>
        <td><a href="http://gog.com/gamecard/fallout">http://gog.com/gamecard/fallout</a></td>
        <td>April 5-8, 2012</td>
    </tr>
    <tr>
        <td><strong>Faerie Solitaire</strong></td>
        <td><a href="http://reddit.com/rdgsu">http://reddit.com/rdgsu</a></td>
        <td>March 25-April 14, 2012</td>
    </tr>
    <tr>
        <td><strong>Lucid</strong></td>
        <td><a href="http://reddit.com/rxemw">http://reddit.com/rxemw</a></td>
        <td>April 6-14, 2012</td>
    </tr>
    <tr>
        <td><strong>Cities in Motion</strong></td>
        <td><a href="http://surveymonkey.com/s/ParadoxSurvey">http://surveymonkey.com/s/ParadoxSurvey</a></td>
        <td>April 2012</td>
    </tr>
    <tr>
        <td><strong>Droid Assault · Revenge of the Titans · Titan Attacks · Ultratron</strong></td>
        <td><a href="http://puppygames.net/blog/?p=1082">http://puppygames.net/blog/?p=1082</a></td>
        <td>April 12, 2012</td>
    </tr>
    <tr>
        <td><strong>Disciples II: Gold Edition</strong></td>
        <td><a href="http://reddit.com/u2l4z/">http://reddit.com/u2l4z/</a></td>
        <td>May 24-26, 2012</td>
    </tr>
</table>