@{ ViewBag.Title = "About Play It Forward"; }
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title</h1>
            </hgroup>
            <p>Win a game, play it, then give a copy to someone else.</p>
        </div>
    </section>
}
<article>
   <p>Play it Forward is the best way to give and receive games. Founded on reddit, we are a gifting community that believes in giving back not only to those that give, but to the developers that make our favorite games.</p>
</article>

<aside>
    <h3>Learn more</h3>
    <ul>
        <li>@Html.ActionLink("What are the rules?", "Rules", "Home")</li>
        <li>@Html.ActionLink("How are points calculated?", "Points", "Home")</li>
        <li>@Html.ActionLink("Games that are worth 0 points.", "Exceptions", "Home")</li>
    </ul>
</aside>