@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title</h1>
            </hgroup>
        </div>
    </section>
}
<article>
    <p>Some games are considered ineligible for points. When a game that is considered ineligible is chosen, a warning box will appear notifying you.</p>
    <p>Games that have been a part of an indie bundle are only eligible if it's a steam tradeable copy. Keys from these games are worth 0 points. Since Indie Bundles can be exploited and bought for as little as penny, they are not worth points.</p>
    <p>Below is an incomplete list of games that are exempt. They are listed for reference only, please check the game listing for the latest information.</p>
    <h3>0 Point games: (TODO: Change this into a Kendo list and load all ineligble games)</h3>
    <ul>
        <li>Half-Life Deathmatch: Source</li>
        <li>Half-Life: Deathmatch</li>
        <li>Half-Life 2: Deathmatch</li>
        <li>Half-Life 2: Lost Coast</li>
        <li>Grand Theft Auto</li>
        <li>Grand Theft Auto 2</li>
        <li>The Ship</li>
        <li>Promo codes</li>
        <li>A multiplayer component of a Campaign game.</li>
        <li>Anything that is free.</li>
        <li>Any keys of games that have been featured in an indie bundle, such as Humble or Indie Royale/li>
        <li>Anything that is $1 or less on Steam.</li>
    </ul>

</article>
<aside>
    <h3>Learn more</h3>
    <ul>
        <li>@Html.ActionLink("Rules & Guidelines", "Rules", "Home")</li>
        <li>@Html.ActionLink("How are points calculated?", "Points", "Home")</li>
        <li><a href="https://docs.google.com/spreadsheet/ccc?key=0AiFZyanaAvZDdHdyS0dQMnRSY01HVWYzSldTaGowbXc&hl=en_US#gid=0">Shared Ban List</a></li>
    </ul>
</aside>