/*#login {
    display: block;
    font-size: .85em;
    margin: 20px 0 12px;
    text-align: right;
    min-height:100px;
    position: relative;
}

    #login a {
        margin-left: 10px;
        margin-right: 3px;
        padding: 2px 3px;
        text-decoration: none;
    }

        #login a.username {
            background: none;
            margin-left: 0px;
            text-decoration: underline;
        }

    #login ul {
        margin: 0;
    }

    #login li {
        display: inline;
        list-style: none;
    }*/
.profile .right {
    float: right;
    width: 475px;
}

    .profile .right .title,.profile .left .title {
        display: inline;
    }

.profile .left .avatar {
    float: left;
    width: 64px;
}

.profile .left {
    float: left;
    padding-right: 25px;
}

    .profile .left .userDetails {
        float: right;
        width: 300px;
        margin: 0 15px;
    }

.profile .divider {
    border-bottom: 1px dotted #fff;
    opacity: 0.7;
}

.profile .row .rowLeft {
    float: left;
}

.profile .row .rowRight {
    float: right;
}

.profile .row {
    font-size: 1.1em;
    padding: 5px 0;
}

#headerbar a {
    text-decoration: none;
}

#headerbar a {
    background: none;
}

    #headerbar a:hover {
        background: none;
    }


div#MeBarArea div#Avatar.SignedIn div.avatar {
    width: 70px;
    height: 80px;
    background-position: right center;
    background-repeat: no-repeat;
    cursor: pointer;
}

div#MeBarArea div#MeBar {
    position: absolute;
    top: 0px;
    right: 84px;
    height: 80px;
    width: 700px;
}

#login a:hover {
    background: none;
}

div#MeBar.SignedIn div.StatArea h2.username {
    color: #F17922; /* Live Orange */
    font-weight: normal;
    float: right;
    margin: 0px;
    margin-left: 30px;
    font-size: 1.3em;
}

    div#MeBar.SignedIn div.StatArea h2.username a,
    div#MeBar.SignedIn div.StatArea h2.username a:visited {
        color: #F17922 !important; /* Live Orange */
    }

        div#MeBar.SignedIn div.StatArea h2.username a:hover {
            color: #EE9933 !important; /* Live Hover Orange */
        }

div#MeBar.SignedIn div.StatArea div.Stats {
    padding-top: 5px;
}

div#MeBar.SignedIn div.StatArea div.pifscore {
    float: right;
    height: 18px;
    width: 18px;
    margin-left: 20px;
    padding-left: 24px;
    background: url("/images/sprites-18px.png") no-repeat 0 -19px;
}

div#MeBarArea div#ShellLogo {
    position: absolute;
    cursor: pointer;
}

div#MeBar.SignedIn div.StatArea div.messages {
    float: right;
    height: 18px;
    width: 15px;
    margin-left: 20px;
    padding-left: 24px;
    cursor: pointer;
    background: url("/images/sprites-18px.png") no-repeat -16px 0;
}

div#MeBarArea div#MeBar.SignedIn div.LinkArea span {
    padding: 0px;
}

.pointsDisabled #points {
    display: none;
}

div#MeBarArea div#MeBar.SignedIn div.LinkArea span.points {
    position: relative;
    padding-right: 18px;
}

div#MeBarArea div#MeBar.SignedOut div.LinkArea span.spread,
div#MeBarArea div#MeBar.SignedIn div.LinkArea span.spread {
    background-image: url(../Images/glyph-pipe.png);
    background-position: 7px center;
    padding-left: 15px;
    background-repeat: no-repeat;
}

div#MeBarArea div#MeBar.SignedIn div.LinkArea span.nowrap {
    white-space: nowrap;
}



div#MeBarArea {
    position: relative;
    height: 85px;
    margin-top: 6px;
    margin-bottom: 6px;
}

    div#MeBarArea a {
        padding: 0;
        color: #77BB44;
    }

        div#MeBarArea a:visited {
            color: #77BB44; /* Primary Green */
        }

        div#MeBarArea a:hover, ul#menu li a:hover {
            color: #2B9646;
        }

    div#MeBarArea div#Avatar {
        position: absolute;
        top: 0px;
        right: 0px;
        width: 70px;
        height: 80px;
    }


    div#MeBarArea div.StatArea {
        position: absolute;
        bottom: 39px;
        right: 0px;
        font-weight: 600;
        color: #BDBEC1; /*Alloy Grey*/
        width: 100%;
    }

    div#MeBarArea div.LinkArea {
        position: absolute;
        top: 44px;
        text-align: right;
        right: 0px;
        font-size: 12px;
        color: #BDBEC1; /*Alloy Grey*/
        width: 100%;
    }

.open-giveaways {
    width: 800px;
}

    .open-giveaways .bx-wrapper {
        margin: 10px 0 0 0;
    }

.left .createdTime {
    float: left;
}

.games-given, .games-received {
    font-size: 1.2em;
}

.right .games, .right .bx-wrapper {
    float: right;
}

.giveaways h3 {
    margin-bottom: 10px;
}

.pifscore {
    background: url("../Images/point.png") no-repeat;
    background-size: 22px;
    background-position: left center;
    margin-left: 10px;
    padding-left: 28px;
}

strong, b {
    font-weight: 600;
}

.t-button:hover {
    color: black!important;
}

.button {
    background: whiteSmoke;
    background: -webkit-gradient(linear, left top, left bottom, from(#f5f5f5), to(#f1f1f1));
    background: -webkit-linear-gradient(top, #f5f5f5, #f1f1f1);
    background: -moz-linear-gradient(top, #f5f5f5, #f1f1f1);
    background: -ms-linear-gradient(top, #f5f5f5, #f1f1f1);
    background: -o-linear-gradient(top, #f5f5f5, #f1f1f1);
    border: 1px solid rgba(0, 0, 0, 0.1);
    color: #555;
    font-size: 1em;
    height: 27px;
}

.button, .button-blue, .button-red, .button-green {
    border-radius: 2px;
    display: inline-block;
    line-height: 27px;
    min-width: 54px;
    padding: 0 8px;
    text-align: center;
    text-shadow: 0 1px rgba(0, 0, 0, 0.1);
    transition: all .218s;
    white-space: pre;
}

.button-blue, .button-red, .button-green {
    border: 1px solid rgba(0, 0, 0, 0.1)!important;
    color: white!important;
    margin: 0 1.5em 1.2em 0!important;
}

    .button-blue:hover, .button-red:hover, .button-green:hover {
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1)!important;
        color: white!important;
        text-decoration: none;
        text-shadow: 0 1px rgba(0, 0, 0, 0.3)!important;
    }

.button, input[type="submit"].button {
    height: 29px;
    line-height: 29px;
    margin: 0;
    vertical-align: bottom;
}

.medium {
    font-size: large!important;
    padding: 5px 10px;
}

.button-blue {
    background: #4D90FE!important;
    background: -webkit-gradient(linear, left top, left bottom, from(#4d90fe), to(#4787ed))!important;
    background: -webkit-linear-gradient(top, #4d90fe, #4787ed)!important;
    background: -moz-linear-gradient(top, #4d90fe, #4787ed)!important;
    background: -ms-linear-gradient(top, #4d90fe, #4787ed)!important;
    background: -o-linear-gradient(top, #4d90fe, #4787ed)!important;
}

    .button-blue:active {
        border: 1px solid #2F5BB7 !important;
    }

    .button-blue:hover {
        background: #357AE8;
        background: -webkit-gradient(linear, left top, left bottom, from(#4d90fe), to(#357ae8))!important;
        background: -webkit-linear-gradient(top, #4d90fe, #357ae8)!important;
        background: -moz-linear-gradient(top, #4d90fe, #357ae8)!important;
        background: -ms-linear-gradient(top, #4d90fe, #357ae8)!important;
        background: -o-linear-gradient(top, #4d90fe, #357ae8)!important;
        border: 1px solid #2F5BB7!important;
    }

.button-green {
    background: #75B16C;
    background: -webkit-linear-gradient(top, #79B770, #72AB69)!important;
    background: -moz-linear-gradient(top, #79B770, #72AB69)!important;
    background: -ms-linear-gradient(top, #79B770, #72AB69)!important;
    background: -o-linear-gradient(top, #79B770, #72AB69)!important;
    border: 1px solid #60A256!important;
}

    .button-green:hover {
        background: #6EAC65;
        background: -webkit-linear-gradient(top, #79B770, #63A159)!important;
        background: -moz-linear-gradient(top, #79B770, #63A159)!important;
        background: -ms-linear-gradient(top, #79B770, #63A159)!important;
        background: -o-linear-gradient(top, #79B770, #63A159)!important;
        border: 1px solid #4B7E47!important;
    }

    .button-green:active {
        border: 1px solid #60A256!important;
    }


.button-red {
    background: #D14836;
    background: -webkit-gradient(linear, left top, left bottom, from(#dd4b39), to(#d14836))!important;
    background: -webkit-linear-gradient(top, #dd4b39, #d14836)!important;
    background: -moz-linear-gradient(top, #dd4b39, #d14836)!important;
    background: -ms-linear-gradient(top, #dd4b39, #d14836)!important;
    background: -o-linear-gradient(top, #dd4b39, #d14836)!important;
    border: 1px solid transparent!important;
}

    .button-red:active {
        border: 1px solid #992A1B!important;
    }

    .button-red:hover {
        background: #C53727!important;
        background: -webkit-gradient(linear, left top, left bottom, from(#dd4b39), to(#c53727))!important;
        background: -webkit-linear-gradient(top, #dd4b39, #c53727)!important;
        background: -moz-linear-gradient(top, #dd4b39, #c53727)!important;
        background: -ms-linear-gradient(top, #dd4b39, #c53727)!important;
        background: -o-linear-gradient(top, #dd4b39, #c53727)!important;
        border: 1px solid #B0281A!important;
        border-bottom: 1px solid #AF301F!important;
    }

    .button-submit:focus, .button-share:focus, .button-red:focus {
        box-shadow: inset 0 0 0 1px #fff;
    }

    .button:active, .button-blue:active, .button-red:active {
        box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3);
    }

.button:focus:hover {
    box-shadow: inset 0 0 0 1px #fff, 0 1px 1px rgba(0, 0, 0, 0.1);
}

.button:hover {
    background: #F8F8F8!important;
    background: -webkit-gradient(linear, left top, left bottom, from(#f8f8f8), to(#f1f1f1))!important;
    background: -webkit-linear-gradient(top, #f8f8f8, #f1f1f1)!important;
    background: -moz-linear-gradient(top, #f8f8f8, #f1f1f1)!important;
    background: -ms-linear-gradient(top, #f8f8f8, #f1f1f1)!important;
    background: -o-linear-gradient(top, #f8f8f8, #f1f1f1)!important;
    border: 1px solid #C6C6C6!important;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1)!important;
    color: #333!important;
}

.button:hover, .button-blue:hover {
    text-decoration: none;
    transition: all 0;
}

.createdTime {
    color: #797F8B;
    font-size: .8em;
}

.pagination .numbers {
    float: right;
}

.pagination .results {
    float: left;
}

li a {
    cursor: pointer;
}

.pagination {
    background-color: #F9F9FB;
    border: 1px solid #E4E4E4;
    color: #4F565A;
    font-size: .9em;
    margin: 10px 0;
    padding: 5px 10px;
}

    .pagination a {
        padding: 0 2px;
    }

a.current:link, a.current:visited {
    color: #DD4B39;
}

.pif {
    border-bottom: 1px dotted #C3C3C3;
    padding: 6px 0;
}

    .pif .left .title, .pif .left .title a {
        color: #4F565A;
    }

    .pif.left .pif {
        font-size: 1.125em;
        font-weight: 600;
        text-shadow: 1px 1px white;
    }

    .pif .left .description .createdBy {
        float: right;
    }

    .pif .left {
        float: left;
        width: 700px;
    }

.games {
    list-style: none;
    margin: 0;
    padding: 0;
}

.clearBoth {
    clear: both;
}

.pif .right {
    float: right;
    padding: 5px;
    width: 250px;
}

.pif .center {
    float: left;
    height: 64px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 8px;
    width: 70px;
}

.createdBy {
    float: right;
    font-size: .8em;
}

.pif .left .description {
    background-color: #F9F9FB;
    border: 1px solid lightGrey;
    color: #636E75;
    font-size: .9em;
    margin: 5px 0;
    padding: 0px 5px;
}

span.points {
    display: inline-block;
    font-size: 1em!important;
    padding: 0 2px;
}

html {
    background-color: #e2e2e2;
    margin: 0;
    padding: 0;
}

body {
    background-color: #fff;
    color: #333;
    font-family: 'Open Sans', sans-serif;
    font-size: .85em;
    /* font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;*/
    margin: 0;
    padding: 0;
}

a {
    color: #333;
    outline: none;
    padding-left: 3px;
    padding-right: 3px;
    text-decoration: underline;
}

    a:link, a:visited,
    a:active, a:hover {
        color: #333;
    }

    a:hover {
        background-color: #c7d1d6;
    }

header, footer, hgroup,
nav, section {
    display: block;
}

mark {
    background-color: #a6dbed;
    padding-left: 5px;
    padding-right: 5px;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.clear-fix:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}

h1, h2, h3,
h4, h5, h6 {
    font-weight: 600;
    margin-bottom: 0;
    padding-bottom: 0;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.75em;
}

h3 {
    font-size: 1.2em;
}

h4 {
    font-size: 1.1em;
}

h5, h6 {
    font-size: 1em;
}


/* main layout
----------------------------------------------------------*/

.content-wrapper {
    margin: 0 auto;
    max-width: 960px;
}

#body {
    background-color: #efeeef;
    clear: both;
    padding-bottom: 35px;
}

.main-content {
    background: url("../Images/accent.png") no-repeat;
    padding-left: 10px;
    padding-top: 30px;
}

.featured + .main-content {
    background: url("../Images/heroAccent.png") no-repeat;
}

footer {
    background-color: #e2e2e2;
    clear: both;
    height: 100px;
}


/* site title
----------------------------------------------------------*/

.site-title {
    color: #c8c8c8;
    font-size: 2.3em;
    margin: 20px 0;
}

    .site-title a, .site-title a:hover, .site-title a:active {
        background: none;
        color: #c8c8c8;
        outline: none;
        text-decoration: none;
    }


/* menu
----------------------------------------------------------*/

ul#menu {
    font-size: 1.3em;
    font-weight: 600;
    margin: 0;
    text-align: right;
}

    ul#menu li {
        display: inline;
        list-style: none;
        padding-left: 15px;
    }

        ul#menu li a {
            background: none;
            color: #999;
            text-decoration: none;
        }

            ul#menu li a:hover {
                text-decoration: none;
            }


/* page elements
----------------------------------------------------------*/
/* featured */

.featured {
    background-color: #fff;
}

    .featured .content-wrapper {
        background-color: #7ac0da;
        background-image: -ms-linear-gradient(left, #7ac0da 0%, #a4d4e6 100%);
        background-image: -o-linear-gradient(left, #7ac0da 0%, #a4d4e6 100%);
        background-image: -webkit-gradient(linear, left top, right top, color-stop(0, #7ac0da), color-stop(1, #a4d4e6));
        background-image: -webkit-linear-gradient(left, #7ac0da 0%, #a4d4e6 100%);
        color: #3e5667;
        padding: 20px 40px 30px 40px;
    }

    .featured hgroup.title h1, .featured hgroup.title h2 {
        font-weight: normal;
    }

    .featured p {
        font-size: 1.1em;
    }

/* page titles */

hgroup.title {
    margin-bottom: 10px;
}

    hgroup.title h1, hgroup.title h2 {
        display: inline;
    }

    hgroup.title h2 {
        font-weight: normal;
        margin-left: 3px;
    }

/* features */

section.feature {
    float: left;
    padding: 10px;
    width: 300px;
}

/* ordered list */

ol.round {
    list-style-type: none;
    padding-left: 0;
}

    ol.round li {
        padding: 10px 0 10px 40px;
        position: relative;
    }

        ol.round li:before {
            content: '';
            width: 30px;
            background: url("../Images/sprites-30px.png") no-repeat left top;
            height: 30px;
            position: absolute;
            left: 0;
        }

        ol.round li:nth-child(0):before {
            background-position: 0 0;
        }

        ol.round li:nth-child(1):before {
            background-position: 0 -30px;
        }

        ol.round li:nth-child(2):before {
            background-position: 0 -60px;
        }

        ol.round li:nth-child(3):before {
            background-position: 0 -90px;
        }

        ol.round li:nth-child(4):before {
            background-position: 0 -120px;
        }

        ol.round li:nth-child(5):before {
            background-position: 0 -150px;
        }

        ol.round li:nth-child(6):before {
            background-position: 0 -180px;
        }

        ol.round li:nth-child(7):before {
            background-position: 0 -210px;
        }

        ol.round li:nth-child(8):before {
            background-position: 0 -240px;
        }

        ol.round li:nth-child(9):before {
            background-position: 0 -270px;
        }

/* content */

article {
    float: left;
    width: 70%;
}

aside {
    float: right;
    width: 25%;
}

    aside ul {
        list-style: none;
        padding: 0;
    }

        aside ul li {
            background: url("../Images/bullet.png") no-repeat 0 50%;
            padding: 2px 0 2px 20px;
        }

.label {
    font-weight: 700;
}

#loginContent {
    border-right: solid 2px #c8c8c8;
    float: left;
    padding: 0 2% 0 0;
    width: 55%;
}

/* login page */

#loginForm {
    float: right;
    padding: 0 0 0 3%;
}

    #loginForm .validation-error {
        display: block;
        margin-left: 15px;
    }

#socialLoginForm {
    float: left;
    margin-left: 40px;
    width: 50%;
}

/* contact */

.contact h3 {
    font-size: 1.2em;
}

.contact p {
    margin: 5px 0 0 10px;
}

.contact iframe {
    border: 1px solid #333;
    margin: 5px 0 0 10px;
}


input.passwordEntry {
    border: 1px solid #ccc;
    width: 300px;
}

textarea {
    font-family: 'Open Sans', sans-serif!important;
}

/*input[type="email"], input[type="number"], input[type="password"], input[type="text"], input[type="url"], textarea {
    background: white;
    border-bottom: 1px solid #D9D9D9;
    border-left: 1px solid #D9D9D9;
    border-radius: 1px;
    border-right: 1px solid #D9D9D9;
    border-top: 1px solid silver;
    box-sizing: border-box;
    display: inline-block;
    font-size: 1.2em;
    margin: 5px 0 6px 0;
    padding: 5px;
    margin: 0;
    padding-left: 8px;
}

input[type="email"]:hover, input[type="number"]:hover, input[type="password"]:hover, input[type="text"]:hover, input[type="url"]:hover {
    border: 1px solid #B9B9B9;
    border-top: 1px solid #A0A0A0;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
}

input[type="text"], input[type="password"] {
    border: 1px solid #CCC;
    font-size: 1.2em;
}*/



/* forms */

fieldset {
    border: none;
    margin: 0;
    padding: 0;
}

    fieldset legend {
        display: none;
    }

    fieldset ol {
        list-style: none;
        padding: 0;
    }

        fieldset ol li {
            padding-bottom: 5px;
        }

    fieldset label {
        display: block;
        font-size: 1.2em;
    }

        fieldset label.checkbox {
            display: inline;
        }

    fieldset textarea,
    fieldset input[type="text"],
    fieldset input[type="password"] {
        border: 1px solid #e2e2e2;
        color: #333;
        font-size: 1.2em;
        margin: 5px 0 6px 0;
        padding: 4px;
        width: 50%;
    }

        fieldset input[type="text"]:focus,
        fieldset input[type="password"]:focus {
            border: 1px solid #7ac0da;
        }

    fieldset input[type="submit"] {
        /*background-color: #d3dce0;
        border: 1px solid #787878;*/
        font-size: 1.1em;
        font-weight: normal;
        height: 32px;
        line-height: 29px;
        margin: 0 1.5em 1.2em 0;
        padding: 0 8px;
    }

/* ajax login/registration dialog */

.ui-dialog {
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border: 0 none;
    border-radius: 0;
    font-family: inherit;
    font-size: 1.0em;
}

    .ui-dialog input {
        font-family: inherit;
        font-size: 1.25em;
    }

.ui-dialog-titlebar {
    background: none;
    border: 0 none;
    color: inherit;
    float: right;
    font-weight: inherit;
}

.ui-dialog-titlebar-close {
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
}

.ui-widget-header {
    background: none;
    border: 0 none;
}

.modal-popup {
}

    .modal-popup input[type="text"],
    .modal-popup input[type="password"] {
        width: 90%;
    }

/* info and errors */

.message-info {
    border: 1px solid;
    clear: both;
    padding: 10px 20px;
}

.message-error {
    clear: both;
    color: #e80c4d;
    font-size: 1.1em;
    font-weight: 600;
    margin: 20px 0 10px 0;
}

.message-success {
    color: #7ac0da;
    font-size: 1.3em;
    font-weight: 600;
    margin: 20px 0 10px 0;
}

.error {
    color: #e80c4d;
}

/* styles for validation helpers */

.field-validation-error {
    color: #e80c4d;
    display: block;
}

.field-validation-valid {
    display: none;
}

input[type="text"].input-validation-error,
input[type="password"].input-validation-error {
    border: 1px solid #e80c4d;
}

.validation-summary-errors {
    color: #e80c4d;
    font-size: 1.1em;
}

.validation-summary-valid {
    display: none;
}

ul#social li {
    display: inline;
    list-style: none;
}

    ul#social li a {
        color: #999;
        text-decoration: none;
    }

a.reddit, a.steam, a.facebook, a.twitter {
    display: block;
    float: left;
    text-indent: -9999px;
    margin: 0 10px;
}

a.facebook {
    background: url("../Images/facebook.png") no-repeat;
}

a.twitter {
    background: url("../Images/twitter.png") no-repeat;
}

a.reddit {
    width: 39px;
    background: url("../Images/sprites-32px.png") no-repeat 0 -33px;
    height: 32px;
}

a.steam {
    background: url("../Images/sprites-32px.png") no-repeat 0 0;
    width: 70px;
    height: 32px;
}

a.twitter {
    background: url("../Images/sprites-32px.png") no-repeat 0 0;
}

/* tables
----------------------------------------------------------*/

table {
    border: 0 none;
    border-collapse: collapse;
    border-spacing: 0;
    margin-top: 0.75em;
}

th {
    border: none 0px;
    font-size: 1.2em;
    padding-left: 0;
    text-align: left;
}

    th a {
        display: block;
        position: relative;
    }

        th a:link, th a:visited, th a:active, th a:hover {
            color: #333;
            font-weight: 600;
            padding: 0;
            text-decoration: none;
        }

        th a:hover {
            color: #000;
        }

    th.asc a, th.desc a {
        margin-right: .75em;
    }

        th.asc a:after, th.desc a:after {
            display: block;
            font-size: 0.75em;
            position: absolute;
            right: 0em;
            top: 0;
        }

        th.asc a:after {
            content: '▲';
        }

        th.desc a:after {
            content: '▼';
        }

td {
    border: 0 none;
    padding: 0.25em 2em 0.25em 0em;
}

tr.pager td {
    padding: 0 0.25em 0 0;
}


/********************
*   Mobile Styles   *
********************/

@media only screen and (max-width: 950px) {
    /* header
    ----------------------------------------------------------*/
    header .float-left,
    header .float-right {
        float: none;
    }

    /* logo */

    header .site-title {
        margin: 10px;
        text-align: center;
    }

    /* login */

    #login {
        font-size: .85em;
        margin: 0 0 12px;
        text-align: center;
    }

        #login ul {
            margin: 5px 0;
            padding: 0;
        }

        #login li {
            display: inline;
            list-style: none;
            margin: 0;
            padding: 0;
        }

        #login a {
            background: none;
            color: #999;
            font-weight: 600;
            margin: 2px;
            padding: 0;
        }

            #login a:hover {
                color: #333;
            }

    /* menu */

    nav {
        margin-bottom: 5px;
    }

    ul#menu {
        margin: 0;
        padding: 0;
        text-align: center;
    }

        ul#menu li {
            margin: 0;
            padding: 0;
        }


    /* main layout
    ----------------------------------------------------------*/

    .main-content,
    .featured + .main-content {
        background-position: 10px 0;
    }

    .content-wrapper {
        padding-left: 10px;
        padding-right: 10px;
    }

    .featured .content-wrapper {
        padding: 10px;
    }

    /* page content */

    article, aside {
        float: none;
        width: 100%;
    }

    /* ordered list */

    ol.round {
        list-style-type: none;
        padding-left: 0;
    }

        ol.round li {
            margin: 25px 0;
            padding-left: 10px;
        }

            ol.round li.zero,
            ol.round li.one,
            ol.round li.two,
            ol.round li.three,
            ol.round li.four,
            ol.round li.five,
            ol.round li.six,
            ol.round li.seven,
            ol.round li.eight,
            ol.round li.nine {
                background: none;
            }

    /* features */

    section.feature {
        float: none;
        padding: 10px;
        width: auto;
    }

        section.feature img {
            color: #999;
            content: attr(alt);
            font-size: 1.5em;
            font-weight: 600;
        }

    fieldset input[type="submit"] {
        margin: 0!important;
    }

    /* forms */

    fieldset textarea,
    fieldset input[type="text"],
    fieldset input[type="password"] {
        width: 50%;
    }

    #loginContent {
        margin: 0 10px 0 0px;
    }

    /* login page */

    #loginForm {
        border-right: none;
        float: none;
        width: auto;
    }

        #loginForm .validation-error {
            display: block;
            margin-left: 15px;
        }

    #socialLoginForm {
        float: none;
        margin-left: 0;
        width: auto;
    }

    /* footer
    ----------------------------------------------------------*/

    footer .float-left,
    footer .float-right {
        float: none;
    }

    footer {
        height: auto;
        padding: 10px 0;
        text-align: center;
    }

        footer p {
            margin: 0;
        }

    ul#social {
        margin: 0;
        padding: 0;
    }

    a.facebook, a.twitter {
        background: none;
        display: inline;
        float: none;
        padding-left: 0;
        text-indent: 0;
    }
}
